@font-face {
  font-family: "LogoFont";
  src: url("/fonts/Think\ Memories.otf");
}

@font-face {
  font-family: "Title";
  src: url("/fonts/Bilgie\ Personal\ Use\ Only.ttf");
}

@font-face {
  font-family: "Quote";
  src:url("/fonts/Retro\ Floral.otf");
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-primary:#f5f2ed;
  --background-secondary:rgb(227, 217, 204);
  --font-dark:rgb(34, 33, 33);
  --font-light:rgb(192, 150, 103);

  background-color: var(--background-primary);
  color: var(--font-dark);

  ul, ol {
  list-style: none;   /* 去除项目符号（列表项的标记） */
  padding: 0;         /* 去除列表的内边距 */
  margin: 0;          /* 去除列表的外边距 */
  }
  ul a {
    text-decoration: none;
    color: var(--font-dark);
  }
  h1 {
    font-family: "Quote", sans-serif;
    color: var(--font-light);
  }
  h2, h3 {
    font-family: "Title", sans-serif;
    color: var(--font-dark);
  }
  p {
    font-size: 14px;
  }
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
