.reciepe {
    width: 100%;
    height: 100vh;
    img.header {
        width: 100%;
        aspect-ratio: 2/1;
        object-fit: cover;
    }
    h1 {
        position: relative;
    }
}

.description {
    position: relative;
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    gap: 20px;
    ul {
        flex:1 1 180px;
        font-family: "Quote";
        /* align-self: flex-start; */
    }
    li {
        padding: 5px;
        max-width:60px;
        margin:0 auto;
        list-style: disc;
    }
    .text {
        flex:2 1 300px;
        min-height:160px;
    }
}

.reciepe button {
   position: absolute;
   border: none;
   background-color:transparent;
   right:5%;
   top:20%;
   height:24px
}

div.edittab {
    position: absolute;
    top:30%;
    left:5%;
    right:5%;
    background-color: var(--background-primary);
    border-radius: 10px;
    padding: 0px 20px;
    height: 300px;
    input {
        width:70px;
        height: 1.5rem;
    };
    margin: 30px 50px;
    box-shadow: 0px 0px 37px 2px rgba(0, 0, 0, 0.625);
    .title {
        font-family: "Quote", sans-serif;
        margin:20px 10px;
        input {
            min-width: 200px;
        }
    }
    textarea {
        border-radius: 10px;
        margin-bottom: 20px;
    }
}